div{
  border-left: 2px solid #a7d6f5;
  position: relative;
  color: #f814149f ;
  border-radius: ;
  box-sizing: border-box;
  box-shadow: ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  height: calc(100% - 100px);
  z-index: ;
  flex-direction: column;
  text-indent: ;
  display: block;
}
div::nth-child(){
  position: absolute;
  position: fixed;
  transform: translateX(-50%);
  min-width: ;
  max-width: ;
  cursor: pointer;
  align-items: ;
  outline: none;
}
div::after{
  content: ;
}